 :root{
    color: white;
    --lightblack-color: #17171B;
    --textnav-color: #00FF00;
    --graycontorn: #808080;
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;

}

.header-nav{
    inline-size: 100%;
    font-size: 18px;
    & nav{
        inline-size: 100%;
        block-size: 55px;
        background-color: var(--lightblack-color);
        outline: 1px solid var(--graycontorn);
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .nav__list{
            display: flex;
            list-style-type: none;
            gap: 20px;
            padding: 0;
            padding-inline-start: 20px;
            margin: 0;
            & .nav__item{
                & a{
                    text-decoration: none;
                    color: var(--textnav-color);
                    &:hover{
                        text-shadow: 0 0 10px white;
                    }
                }
                
            }
            
        }
        & .form{
            & label{
                display: flex;
                inline-size: 400px;
                block-size: 40px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                background-color: color-mix(in srgb, var(--graycontorn) 60%, black);
                border-radius: 20px;
                overflow: hidden;
                transition: transform 400ms ease;
                &:hover{
                    outline: 2px solid var(--textnav-color); 
                    transform: scaleX(1.2);
                    transition-duration: 700ms;
                }
                & input{
                    inline-size: 80%;
                    block-size: 100%;
                    outline: none;
                    border: none;
                    background: none;
                    &::placeholder{
                        text-align: center;
                        font-weight: normal;
                    }
                    &:focus label{
                        border: 2px solid var(--textnav-color);
                    }
                }
            }
        }
    }
}
.grid{
    inline-size: 100%;
    block-size: calc(100vh - 55px);
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 1fr;
    & .section-main{
        & main{
            inline-size: 100%;
            & .main__header{
                inline-size: 100%;
                position: relative;
                & .main__title{
                    font-size: 35px;
                    text-align: center;
                    text-wrap: balance; 
                }
                & .main__img{
                    display: block;
                    margin: 0 auto;
                    margin-block-start: 20px;
                    object-fit: cover;
                    border-radius: 10px;
                    &:hover{
                        box-shadow: 0 0 10px white;
                    }
                }
                & .main__button{
                    position: absolute;
                    left: calc(20%);
                    bottom: calc(5%);
                    scale: 1.5;
                }
            }
            & .main__article{
                block-size: 100%;
                & h2{
                    font-size: 25px;
                    text-align: center;
                }
                & div{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    gap: 30px 10px;
                    margin-block-start: 20px;
                }
            }
        }
    }
    & .section-aside{
        background-color: var(--lightblack-color);
        border-inline-end: 1px solid var(--graycontorn);
        display: grid;
        grid-template-rows: 1fr 1fr;
        & .section__article{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            & h2{
                font-size: 20px;
                text-align: center;
            }
            & .section__itemsnews{
                inline-size: 100%;
                & img{
                    display: block;
                    margin:  0 auto;
                    inline-size: 90%;
                    block-size: 150px;
                    object-fit: cover;
                    border-radius: 10px;
                }

            }
        }
        & aside{
            border-block-start: 1.5px solid var(--graycontorn);
            & h2{
                text-align: center;
                font-size: 20px;
            }
            & .aside__list{
                display: grid;
                grid-template-columns: repeat(3, 1fr); 
                place-items: center;
                grid-auto-rows: 1fr;
                block-size: calc(100% - 20px);
                & .aside__items{
                    list-style: none;
                    border-radius: 20px;
                    inline-size: 80px;
                    block-size: 80px;
                    background: radial-gradient(black 40%, var(--textnav-color));
                    text-align: center;
                    align-content: center;
                    cursor: pointer;
                }
            }
           
        }
    }
}