 :root{
    color: white;
    --lightblack-color: #17171B;
    --textnav-color: #00FF00;
    --graycontorn: #808080;
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #000;

}

.header-nav{
    inline-size: 100%;
    font-size: 15px;
    container: headerNav / inline-size;
    position: relative;
    z-index: 2;
    & nav{
        inline-size: 100%;
        block-size: 55px;
        background-color: var(--lightblack-color);
        outline: 1px solid var(--graycontorn);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @container headerNav (width <= 700px){
            justify-content: space-evenly;
        }
        & .nav__list{
            display: flex;
            align-items: center;
            list-style-type: none;
            gap: 20px;
            padding: 0;
            padding-inline-start: 20px;
            margin: 0;
            @container headerNav (width <= 700px){
                & .nav__item:not(:nth-child(1)){
                    display: none;
                }
            }
            & .nav__item{
                & a{
                    text-decoration: none;
                    color: var(--textnav-color);
                    &:hover{
                        text-shadow: 0 0 10px white;
                    }
                }
                & select{
                    background-color: transparent;
                    color: var(--textnav-color);
                    padding: 3px;
                    border-radius: 10px;
                    inline-size: fit-content;
                    cursor: pointer;
                    & optgroup{
                        background-color: black;
                        text-align: center;
                    }
                    & option{
                        background-color: var(--lightblack-color);
                        text-align: start;
                    }
                }
            }
            
        }
        & .form{
            & label{
                display: flex;
                inline-size: 400px;
                block-size: 40px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                background-color: color-mix(in srgb, var(--graycontorn) 60%, black);
                border-radius: 20px;
                overflow: hidden;
                transition: transform 400ms ease;
                @container headerNav (width <= 540px){
                    inline-size: 200px;
                }
                &:hover{
                    outline: 2px solid var(--textnav-color); 
                    transform: scaleX(1.2);
                    transition-duration: 700ms;
                    @container headerNav (width <= 900px){
                        transform: scale(1.1);
                    }
                    @container headerNav (700px <= width <= 880px){
                        transform: scaleX(1);
                    }
                }
                & input{
                    inline-size: 80%;
                    block-size: 100%;
                    outline: none;
                    border: none;
                    background: none;
                    color: white;
                    &::placeholder{
                        text-align: center;
                        font-weight: normal;
                        color: rgb(194, 190, 190)
                    }
                    &:focus label{
                        border: 2px solid var(--textnav-color);
                    }
                }
            }
        }
        & .account{
            & img{
                border-radius: 50%;
            }
        }
    }
}
.grid{
    container: sectionAside / inline-size;
    inline-size: 100%;
    block-size: calc(100vh - 55px);
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 1fr;
    position: relative;
    view-transition-name: maingrid;
    & .section-main{
        grid-area: 1 / 2 / 2 / 3;
        @container sectionAside (width <= 900px){
            display: block;
            inline-size: calc(100%);
            grid-area: 1 / 1 / 2 / 3;
        }
        & main{
            inline-size: 100%;
            & .main__header{
                inline-size: 100%;
                position: relative;
                & .main__title{
                    font-size: 35px;
                    text-align: center;
                    text-wrap: balance; 
                }
                & .main__img{
                    display: block;
                    margin: 0 auto;
                    margin-block-start: 20px;
                    object-fit: cover;
                    border-radius: 10px;
                    filter: grayscale(100%);
                    &:hover{
                        box-shadow: 0 0 10px white;
                        filter: grayscale(0);
                    }
                    @container sectionAside (width <= 1000px){
                        inline-size: 95%;
                    }
                }
                & .main__button{
                    position: absolute;
                    left: calc(20%);
                    bottom: calc(5%);
                    scale: 1.5;
                }
            }
            & .main__article{
                block-size: 100%;
                margin-block-start: 15px;
                & h2{
                    font-size: 25px;
                    text-align: center;
                    margin-block-start: 20px;
                    position: relative;
                    & a{
                        text-decoration: none;
                        color: inherit;
                        position: relative;
                        &::after{
                            content: "";
                            position: absolute;
                            background-color: var(--textnav-color);
                            inline-size: 0%;
                            block-size: 1px;
                            bottom: 0;
                            left: 0;
                            transition: inline-size 300ms ease;
                        }
                        &:hover{
                            &::after{
                                inline-size: 100%;
                            }
                        }
                    }
                    &:not(:nth-child(1)){
                        text-align: left;
                        margin-inline-start: 20px;

                    }

                }
                & div{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    gap: 30px 10px;
                    margin-block-start: 20px;
                    padding-inline: 20px;
                    @container sectionAside (width <= 900px){
                        padding: 0;
                        inline-size: 100%;
                        justify-content: center;
                    }
                }
            }
        }
        & .categories{
            padding-block-start: 20px;
            block-size: 100%;
            align-content: center;
            position: relative;
            & .cancelbutton{
                inline-size: 20px;
                block-size: 30px;
                background-color: transparent;
                position: absolute;
                top: 2px;
                left: 10px;
                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    inline-size: 3px;
                    block-size: 100%;
                    background-color: color-mix(in srgb, red 90%, black);
                    transform-origin: bottom right;
                    rotate: 35deg;
                }
                &::after{
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    inline-size: 3px;
                    block-size: 100%;
                    background-color: color-mix(in srgb, red 90%, black);
                    transform-origin: bottom left;
                    rotate: -35deg;
                }
                &:hover{
                    cursor: pointer;
                }
            }
            & h2{
                text-align: center;
                margin-block-end: 20px;
                & span{
                    color: color-mix(in srgb, var(--textnav-color) 50%, white);
                }
            }
            & .resultscategory{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 20px;
                gap: 10px 20px;
            }
        }
        & .searchSection{
            .resultSearch{
                background-color: var(--lightblack-color);
            }
        }
    }
    & .section-aside{
        background-color: var(--lightblack-color);
        border-inline-end: 1px solid var(--graycontorn);
        display: grid;
        grid-template-rows: 1fr 1fr;
        block-size: calc(100vb);
        position: fixed;
        top: 0;
        @container sectionAside (width <= 900px){
            display: none;
        }
        & .section__article{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 10px;
            & h2{
                font-size: 20px;
                text-align: center;
            }
            & .section__itemsnews{
                inline-size: 310px;
                display: flex;
                overflow-x: scroll;
                gap: 20px;
                scrollbar-width: thin;
                scrollbar-color: white var(--lightblack-color);
            }
        }
        & aside{
            border-block-start: 1.5px solid var(--graycontorn);
            align-content: center;
            & h2{
                text-align: center;
                font-size: 20px;
            }
            & .aside__list{
                display: grid;
                grid-template-columns: repeat(3, 1fr); 
                place-items: center;
                grid-auto-rows: 1fr;
                block-size: calc(100% - 20px);
                & .aside__items{
                    list-style: none;
                    border-radius: 20px;
                    inline-size: 80px;
                    block-size: 80px;
                    background: radial-gradient(black 40%, var(--textnav-color));
                    text-align: center;
                    align-content: center;
                    cursor: pointer;
                }
            }
           
        }
    }
}

/*Info-Main*/

.main__content-info{
    inline-size: 100%;
    block-size: calc(100vb - 85px);
    padding-inline: 20px;
    view-transition-name: infowatch;
    & .section__infowatch{
        inline-size: 100%;
        block-size: calc(100% - 30px);
        margin-block: 30px;
        border-radius: 10px;
        container: section-container/ inline-size;
        & .article__content-info{
            inline-size: 100%;
            block-size: 100%;
            display: grid;
            grid-template: 1fr 3fr 1fr / 2fr 1fr .5fr;
            column-gap: 5px;
            place-items: center;
            @container section-container (width >= 850px){
                grid-template-columns: repeat(2, 1fr) .5fr;
            }
            @container section-container (width <= 935px){
                grid-template-columns: repeat(2, 1fr);
            }
            @container section-container (width <= 680px){
                grid-template-rows: .8fr 3fr repeat(2, 1fr);
                row-gap: 10px;
            }
            & figure{
                inline-size: 100%;
                grid-area: 1 / 1 / 4 / 2;
                block-size: 100%;
                align-content: center;
                & img{
                    inline-size: 450px;
                    block-size: 650px;
                    object-fit: fill;
                    border-radius: 10px;
                    display: block;
                    margin: 0 auto;
                    &:hover{
                        box-shadow: 0 0 20px white;
                    }

                    @container section-container (width <= 820px){
                        inline-size: 100%; 
                    }
                }
                & .figure__ranking{
                    & ul{
                        list-style: none;
                        display: flex;
                        justify-content: space-around;
                    }
                }
                @container section-container (width <= 680px){
                    grid-area: 2 / 1 / 3 / 3;
                    & img{
                        max-block-size: 450px;
                        max-inline-size: 300px;
                    }
                }
            }
            & header{
                grid-area: 1 / 2 / 2 / 4;
                inline-size: 100%;
                text-align: center;
                & h2{
                    font-size: 30px;
                }
                @container section-container (width <= 680px){
                    grid-area: 1 / 1 / 2 / 3; 
                }
            }
            & .article__generosList{
                grid-area: 1 / 2 / 2 / 4;
                place-self: end center;
                display: flex;
                column-gap: 50px;
                list-style: none;
                color: color-mix(in srgb, var(--textnav-color) 50%, white);
                @container section-container (width <= 680px){
                    grid-area: 1 / 1 / 2 / 3; 
                }
            }
            & .article__about-content{
                grid-area: 2 / 2 / 3 / 2;
                block-size: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
                justify-content: center;
                & p{
                    text-align: center;
                    text-wrap: balance;
                    block-size: auto;
                }
                & button{
                    background-color: var(--textnav-color);
                    padding: 10px;
                    block-size: 40px;
                    inline-size: 200px;
                    border: 0;
                    border-radius: 20px;
                    cursor: pointer;
                    transition: box-shadow 300ms ease-in,
                                scale 300ms ease-in;
                    position: relative;
                    &:hover{
                        scale: 1.1;
                        box-shadow: 0 0 10px color-mix(in srgb, var(--textnav-color) 60%, white);
                    }
                    &::before{
                        position: absolute;
                        content: "";
                        inline-size: 30px;
                        block-size: 30px;
                        background-color: var(--lightblack-color);
                        right: 17px;
                        bottom: 4px;
                        clip-path: polygon(0 0, 100% 50%, 0 100%);
                    }

                }
                @container section-container (width <= 660px){
                    grid-area: 2 / 2 / span / 2;
                }
                @container section-container (width <= 680px){
                    grid-area: 3 / 1 / 5 / 2;
                }

            }
            & .article__actors{
                grid-area: 3 / 2 / 4 / 3;
                @container section-container (width <= 935px){
                    grid-area: 3 / 2 / 4 / 4;
                }
            }
            & .article__about-film{
                grid-area: 2 / 3 / 4 / 4;
                @container section-container (width <= 935px){
                    grid-area: 2 / 2 / 3 / 2;
                    place-self: end start;
                }
                @container section-container (width <= 680px){
                    grid-area: 4 / 2 / 5 / 3;
                    place-self: center;
                }
            }
        }
    }
}

/* Ocultar contenido para eventos espeficos; */
.notshowmain{
    display: none;
}

::view-transition-old(maingrid){
    animation: fade 0.2s linear forwards;
}
::view-transition-new(infowatch){
    animation: fade 0.3s linear reverse;
}
@media (width <= 721px){
    .content-watch{
        min-block-size: 100vb;
        & .main__content-info{
            block-size: 100%;
        }
    }
}
@media (width = 722px){
    .content-watch{
        min-block-size: 100vb;
    }
}

@view-transition {navigation: auto;}

@keyframes fade {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      transform: translateY(-70px);
    }
  }